@import '../../../assets/css/color.scss';

.ggl-label {
    display: inline-flex;
    span {
        color: $color-gray;
    }
    
    .icon {
        padding-left: .5rem;
    }
}

.link {
    cursor: pointer;
    span {
        color: $color-light-blue;

        &:hover {
            text-decoration: underline;
        }
    }
}

.disabled {
    cursor: not-allowed;
    color: $color-gray;
}
