<div onload="load();">
    <div id="ggl-wrapper">
        <div id="ggl-page">
            <ggl-banner [nextEvent]="nextEventDate"></ggl-banner>
            <ggl-header></ggl-header>
            <div>
                <router-outlet></router-outlet>
            </div>
            <!-- end:header-top -->
            <ggl-carousal></ggl-carousal>
            <div id="ggl-couple" class="ggl-section-gray">
                <div class="container">
                    <div class="row row-bottom-padded-md animate-box">
                        <!-- Marriage Container -->
                        <div id="marriageContainer" class="col-md-6 col-md-offset-3 text-center">
                            <div class="col-md-5 col-sm-5 col-xs-5 nopadding">
                                <img id="groomImage" src="../assets/images/no-image-man.png" class="img-responsive"
                                    alt="Groom Image">
                                <h3 id="groomName">Jack Wood</h3>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2 nopadding">
                                <h2 class="amp-center">
                                    <i class="icon-heart"></i>
                                </h2>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-5 nopadding">
                                <img id="brideImage" src="../assets/images/no-image-woman.png" class="img-responsive"
                                    alt="Bride Image">
                                <h3 id="brideName">Rose Thomas</h3>
                            </div>
                        </div>
                        <!-- Non-Marriage Container -->
                        <div id="nonMarriageContainer" class="col-md-6 col-md-offset-3 text-center hide">
                            <div class="col-md-2 col-sm-2 col-xs-2 col-md-offset-1">
                                <h2 class="amp-center"></h2>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-5 nopadding">
                                <img id="personImage" src="../assets/images/no-image-woman.png" class="img-responsive"
                                    alt="Person Image">
                                <h3 id="personName">Rose Thomas</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row animate-box">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="col-md-12 text-center heading-section">
                                <h2 id="eventType"></h2>
                                <p>
                                    <strong>on
                                        <span id="eventDate"></span> &mdash;
                                        <span id="eventPlace">Boracay, Philippines</span>
                                    </strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ggl-countdown-timer></ggl-countdown-timer>
            <ggl-getting-started></ggl-getting-started>
            <ggl-footer></ggl-footer>
        </div>
        <!-- END ggl-page -->
    </div>
    <script type="text/javascript">
        var currentEventName = "Are Getting Married";
        var currentEventDate = new Date(2017, 11, 28); //Dec 28, 2017
        var currentEventType = "M"; // Marriage | Others
        var currentEventPlace = "Shahjahanpur, Uttar Pradesh";
        var upcomingEventDate = new Date(2018, 1, 28); // 28.1.2018
        var firstPersonName = "";
        var secondPersonName = "";

        function load() {
            var date = new Date();
            $("#upcomingEventDate").text(upcomingEventDate.getDate() + "." + parseInt(upcomingEventDate.getMonth()) + "." + upcomingEventDate.getFullYear());
            $("#copyrightYear").text(date.getFullYear());
            $("#eventDate").text(currentEventDate.toDateString());
            $("#eventPlace").text(currentEventPlace);
            if (currentEventType === "M") {
                firstPersonName = "Jack Wood";
                secondPersonName = "Rose Thomas";
                currentEventName = "Are Getting Married";
                $("#marriageContainer").show();
                $("#nonMarriageContainer").hide();
                $("#groomName").text(firstPersonName);
                $("#brideName").text(secondPersonName);

            } else {
                currentEventName = "Celebrating with thier relatives";
                firstPersonName = "Jack Wood";
                $("#marriageContainer").hide();
                $("#nonMarriageContainer").show();
                $("#personName").text(firstPersonName);
            }

            $("#eventType").text(currentEventName);
        }
    </script>

    <script>
        var $item = $('.carousel .item');
        var $wHeight = $(window).height();
        $item.eq(0).addClass('active');
        $item.height($wHeight);
        $item.addClass('full-screen');

        $('.carousel img').each(function () {
            var $src = $(this).attr('src');
            var $color = $(this).attr('data-color');
            $(this).parent().css({
                'background-image': 'url(' + $src + ')',
                'background-color': $color
            });
            $(this).remove();
        });

        $(window).on('resize', function () {
            $wHeight = $(window).height() - 50;
            $item.height($wHeight);
        });

        $('.carousel').carousel({
            interval: 5000,
            pause: "false"
        });
    </script>
</div>