// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $GGL.Web.App-primary: mat.define-palette(mat.$indigo-palette);
// $GGL.Web.App-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
//$GGL.Web.App-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
// $GGL.Web.App-theme: mat.define-light-theme((
//   color: (
//     primary: $GGL.Web.App-primary,
//     accent: $GGL.Web.App-accent,
//     warn: $GGL.Web.App-warn,
//   )
// ));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
//@include mat.all-component-themes($GGL.Web.App-theme);

/* You can add global styles to this file, and also import other style files */

@import 'assets/css/color.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Arial; font-size: 10pt; height: 100vh;}
.right { text-align: right; }
.left { text-align: left; }
.center { text-align: center; }
/* BOOKING STATUS */
.pending { color: $color-orange; }
.confirmed { color: $color-light-green; }
.payment-pending { color: $color-skyblue; }
.cancelled { color: $color-red; }
 

/* padding css */
.pad-10 {
	padding-left: 10px;
}

.pad-15 {
	padding-left: 15px;
}

.no-padding {
	padding: 0;
}

.no-margin {
	margin: 0;
}



/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: $color-gray $color-white-smoke;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: $color-white-smoke;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: $color-light-gray;
    border-radius: 20px;
    border: 3px solid $color-light-gray;
  }