<ngb-carousel [showNavigationArrows]="showArrows" 
[showNavigationIndicators]="showIndicators"
[interval]="interval"
[keyboard]="keyboard"
[pauseOnHover]="pauseOnHover"
[wrap]="wrap"
[activeId]="defaultSlide">
    <ng-template ngbSlide *ngFor="let image of images" [id]="image.id">
        <div [ngClass]="{'tile-view': enableTileView}" class="picsum-img-wrapper">
            <img [src]="image.url" [alt]="image.title">
        </div>
        <div class="carousel-caption" *ngIf="image.title">
            <h3>{{image.title}}</h3>
            <p>{{image.message}}</p>
        </div>
    </ng-template>
</ngb-carousel>