@import '../../../assets/css/color.scss';


.calendar-filter {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.list-view {
    width: 100%;
    padding: 1.5rem;
    max-height: 50rem;
    overflow-y: auto;

    .item-row {
        border-top: solid 1px $color-light-gray;
        border-left: solid 1px $color-light-gray;
        border-right: solid 1px $color-light-gray;
        display: flex;
        position: relative;
    }

    .last-row {
        border-bottom: solid 1px $color-light-gray;
    }

    .day {
        font-size: 60px;
        padding: 1rem;
        font-weight: 800;
        text-align: center;
        min-width: 12rem;
        color: $color-black;
    }

    .detail {
        width: 100%;

        .status {
            float: right;
            font-weight: 400;
            padding: 0 .5rem 0 .5rem;
            color: $color-black;
            min-width: 8rem;
            text-transform: uppercase;
            border-bottom-left-radius: 0.5rem;
        }

        .event-info {
            width: 100%;
            padding-left: 1rem;
            display: inline-flex;
            flex-direction: column;
        }
    }

    .book-now {
        font-size: 11pt;
        // position: absolute;
        // bottom: 1rem;
        // right: 0.5rem;
        cursor: pointer;
        color: $color-dark-green;
    }

    .book-now-message {
        text-align: center;
        padding: 1rem;
    }
}

.confirmed {
    background-color: $color-light-green;
}

.pending {
    background-color: $color-skyblue;
}

.hold {
    background-color: $color-yellow;
}

.available {
    background-color: $color-lighter-gray;
}


@media screen and (max-width:768px) {
    .list-view {
        position: relative;
        max-height: 30rem;

        .day {
            font-size: 40px;
            padding: 1rem;
            font-weight: 800;
            text-align: center;
            min-width: 8rem;
        }

        .book-now,
        .book-now-message {
            font-size: 10pt;
        }

    }
}