<div>
    <div class="calendar-filter">
        <label for="month">Month</label>
        <select name="month">
            <option></option>
        </select>
    </div>
    <div *ngIf="!isListViewMode" class="calendar-view">

    </div>
    <div *ngIf="isListViewMode" class="list-view">
        <div *ngFor="let event of bookingEvents; let i = index"
            [ngClass]="{'last-row' : bookingEvents.length && i == bookingEvents.length - 1}" class="item-row">
            <div class="day {{event.statusLabel | lowercase}}">
                <span>{{event.date | date: 'dd'}}</span>
            </div>
            <div class="detail">
                <span class="status {{event.statusLabel | lowercase}}">{{event.statusLabel}}</span>
                <div class="event-info">
                    <span *ngIf="event.type" class="event-type">Event: <b>{{event.name}}</b></span>
                    <span *ngIf="event.info" class="event-type">Timing: <b>{{event.info.eventTimingLabel}}</b></span>
                    <div class="book-now-message" *ngIf="event.status === BOOKING_STATUS_NOTBOOKED || event.status === BOOKING_STATUS_CANCELED">
                        <span>Block your favorite date. <a class="book-now">Book Now</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>