<div class="stack">
    <!-- BUTTON  -->
    <div class="stack-item">
        <div class="component-title">Button</div>
        <div class="component-description">&lt;ggl-button&gt; is wrapper and with additional styling.
            You can enable the button with icon after adding few more properties like <code>showIcon</code>,
            <code>icon</code>.
        </div>
        <div class="component-snippet">
            <code>
                &lt;ggl-button label=&quot;Success&quot; [showIcon]=&quot;showIcon&quot; [showLabel]=&quot;showIcon&quot; title=&quot;Home&quot; icon=&quot;check_circle&quot; type=&quot;success&quot; [disabled]=&quot;isDisabled&quot; (clicked)=&quot;handleButtonClicked($event)&quot;&gt;&lt;/ggl-button&gt;
            </code>
        </div>
        <div class="component horizontal">
            <ggl-button label="Basic" (clicked)="handleButtonClicked($event)"></ggl-button>
            <span class="spacer"></span>
            <ggl-button label="Default" type="default" (clicked)="handleButtonClicked($event)"></ggl-button>
            <span class="spacer"></span>
            <ggl-button label="Secondary" type="secondary" (clicked)="handleButtonClicked($event)"></ggl-button>
            <span class="spacer"></span>
            <ggl-button label="Primary" [showIcon]="showIcon" [iconSize]="iconSize_18" [showLabel]="showIcon"
                title="Primary" icon="home" type="primary" (clicked)="handleButtonClicked($event)"></ggl-button>
            <span class="spacer"></span>
            <ggl-button label="Success" [showIcon]="showIcon" [showLabel]="showIcon" title="Success" icon="check_circle"
                type="success" (clicked)="handleButtonClicked($event)"></ggl-button>
            <span class="spacer"></span>
            <ggl-button label="Disabled" [showIcon]="showIcon" [showLabel]="showIcon" title="Disabled" icon="delete"
                type="default" [disabled]="isDisabled" (clicked)="handleButtonClicked($event)"></ggl-button>
            <span class="spacer"></span>
            <ggl-button label="Link" title="Link" type="link" (clicked)="handleButtonClicked($event)"></ggl-button>
        </div>
        <div class="component-result"> You have clicked <i>{{buttonLabel}}</i> button.</div>
    </div>

    <!-- CHECKBOX  -->
    <div class="stack-item">
        <div class="component-title">Checkbox</div>
        <div class="component-description">&lt;ggl-checkbox&gt; is wrapper and with additional styling.
        </div>
        <div class="component-snippet">
            <code>
                &lt;ggl-checkbox label=&quot;Disabled&quot; [selected]=&quot;isChecked&quot; [disabled]=&quot;isDisabled&quot; (changed)=&quot;handleCheckboxChange($event)&quot;&gt;&lt;/ggl-checkbox&gt;
            </code>
        </div>
        <div class="component">
            <ggl-checkbox label="Unchecked" [selected]="!isChecked"></ggl-checkbox>
            <ggl-checkbox label="Checked" [selected]="isChecked" (changed)="handleCheckboxChange($event)"></ggl-checkbox>
            <ggl-checkbox label="Disabled" [selected]="isChecked" [disabled]="isDisabled"></ggl-checkbox>
        </div>
        <div class="component-result"> Checked value: <i>{{isChecked}}</i> </div>
    </div>

    <!-- INPUT -->
    <div class="stack-item">
        <div class="component-title">Input</div>
        <div class="component-description">This is <code>&lt;ggl-input&gt;</code>. Input component supports the search
            feature as well to make the field to search field by setting up few props like <code>enableSearch</code> and
            provide the <code>search</code> callback.</div>
        <div class="component-snippet">
            <code>
                &lt;ggl-input [readonly]=&quot;false&quot; [disabled]=&quot;false&quot; [value]=&quot;10000&quot; (changed)=&quot;textChange($event)&quot; (blured)=&quot;textBlur($event)&quot; (keypressed)=&quot;onKeyPressed($event)&quot; isRequired&gt;&lt;/ggl-input&gt;
            </code>
        </div>
        <div class="component oritentation-vertical">
            <ggl-input [value]="inputValue" placeholder="Enter your name..."
                (change)="handleInputChange($event)"></ggl-input>
            <ggl-input [value]="inputValue" placeholder="Enter your email..." (change)="handleInputChange($event)"
                [showIcon]="showIcon" icon="email"></ggl-input>
            <ggl-input [value]="inputValue" placeholder="Search" [enableSearch]="enableSearch"
                (keypress)="handleKeyPress($event)" (search)="handleInputChange($event)"></ggl-input>
                <ggl-input [value]="inputValue" placeholder="Enter your name..." [disabled]="isDisabled"
            (change)="handleInputChange($event)"></ggl-input>
        </div>
        <div class="component-result"> You have entered: <i>{{inputValue}}</i> </div>
    </div>

    <!-- ICON  -->
    <div class="stack-item">
        <div class="component-title">Icon</div>
        <div class="component-description">This is <code>&lt;ggl-icon&gt;</code>. <code>IconSize</code> enum will be
            used to define the size.
            <code>IconSize</code> enum having option like <i>XXSMALL, XSMALL, SMALL, MEDIUM, LARGE, XLARGE </i> and
            <i>DEFAULT</i>. The default icon size choosen as <code>IconSize.DEFAULT</code>.
        </div>
        <div class="component-snippet">
            <code>
                &lt;ggl-icon icon="home" size="18 | 24 | 30 | 36 | 48 | 60 | 72"&gt; &lt;/ggl-icon&gt;
            </code>
        </div>
        <div class="component">
            <ggl-icon icon="home" [size]="iconSize_18"></ggl-icon>
            <ggl-icon icon="home" [size]="iconSize_24"></ggl-icon>
            <ggl-icon icon="home" [size]="iconSize_30"></ggl-icon>
            <ggl-icon icon="home" [size]="iconSize_36"></ggl-icon>
            <ggl-icon icon="home" [size]="iconSize_48"></ggl-icon>
            <ggl-icon icon="home" [size]="iconSize_60"></ggl-icon>
            <ggl-icon icon="home" [size]="iconSize_72"></ggl-icon>
        </div>
    </div>

    <!-- LABEL  -->
    <div class="stack-item">
        <div class="component-title">Label</div>
        <div class="component-description">
            <code>&lt;/ggl-label&gt;</code> component is the wrapper to display text. You can make the clickable label
            to enable additional properties like <code>clickable</code> property by setting either <b>true</b> or
            <b>false</b> and attach <code>(clicked)</code> event
        </div>
        <div class="component-snippet">
            <code>
                &lt;ggl-label text=&quot;Label&quot; [clickable]=&quot;isClickable&quot; (clicked)=&quot;handleLinkClick($event)&quot; [disabled]=&quot;isDisabled&quot;&gt;&lt;/ggl-label&gt;
            </code>
        </div>
        <div class="component">
            <ggl-label text="Hello World!!!"></ggl-label>
            <ggl-label text="Clickable Label" [clickable]="isClickable" (clicked)="handleLinkClick($event)"></ggl-label>
            <ggl-label text="Disabled Label" [clickable]="isClickable" (clicked)="handleLinkClick($event)"
                [disabled]="isDisabled"></ggl-label>
        </div>
        <div class="component-result"> You have clicked <i>{{labelClicked}}</i> link.</div>
    </div>

    <!-- LIST  -->
    <div class="stack-item">
        <div class="component-title">List</div>
        <div class="component-description"></div>
        <div class="component-snippet">
            <code>
            </code>
        </div>
        <div class="component">
            <div>
                <ggl-checkbox label="Use Custom Actions" (changed)="hideListDefaultButtons($event)"></ggl-checkbox>
                <span *ngIf="enableAction">(Show)</span>
                <span *ngIf="!enableAction">(Hide)</span>
            </div>
            <ggl-list 
                [items]="listItems"
                [showDefaultAction]="enableAction"
                [showIcon]="showListIcon"
                (itemClick)="handleListItemClick($event)"
                actionIcon="check_circle"
                actionLabel="Confirm">
                    <ggl-icon label="Accept" type="default" icon="check_circle" (clicked)="handleListAcceptClick()"></ggl-icon>
                    <span class="spacer"></span>
                    <ggl-icon label="Reject" type="default" icon="cancel" (clicked)="handleListRejectClick()"></ggl-icon>
            </ggl-list>
        </div>
        <div class="component-result">Confirmed click for item : <b><i>{{selectedListItem?.text}}</i></b></div>
    </div>

    <!-- MODAL  -->
    <div class="stack-item">
        <div class="component-title">Modal</div>
        <div class="component-description">
        </div>
        <div class="component-snippet">
            <code>
                &lt;ggl-modal 
                title=&quot;Modal Title&quot; <br/>
                [show]=&quot;isShowModal&quot;<br/>
                [width]=&quot;modalWidth&quot; <br/>
                [height]=&quot;modalHeight&quot; <br/>
                [showFooter]=&quot;showModalFooter&quot;<br/>
                [showClose]=&quot;showModalCloseButton&quot; <br/>
                (closed)=&quot;handleCloseModal($event)&quot;&gt;<br/>
                    &lt;modal-content&gt;
                        &lt;span&gt;
                            Put your modal content here.
                        &lt;/span&gt;<br/>
                    &lt;/modal-content&gt;
                    &lt;modal-footer&gt;<br/>
                        &lt;span&gt;
                            Put your modal footer or add footer buttons here.
                        &lt;/span&gt;<br/>
                    &lt;/modal-footer&gt;<br/>
            &lt;/ggl-modal&gt;
            </code>
        </div>
        <div class="component">
            <ggl-button label="Show Modal" type="default" (clicked)="handleShowModal('')"></ggl-button>
            <span class="spacer"></span>
            <ggl-button label="Big Modal" type="default" (clicked)="handleShowModal('big')"></ggl-button>
            <span class="spacer"></span>
            <ggl-button label="Custom Modal" type="primary" (clicked)="handleCustomModal()"></ggl-button>
            <ggl-modal title="Modal Title"
                [show]="isShowModal" 
                [width]="modalWidth" 
                [height]="modalHeight" 
                [showFooter]="showModalFooter"
                [showClose]="showModalCloseButton" 
                (closed)="handleCloseModal($event)">
                    <modal-content>
                        <span>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                            the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                            but also the leap into electronic typesetting, remaining essentially unchanged. It was
                            popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including versions of
                            Lorem Ipsum.
                        </span>
                    </modal-content>
                    <modal-footer>
                        <ggl-button label="Cancel" type="default" (clicked)="handleCloseModal(false)"></ggl-button>
                        <span class="spacer"></span>
                        <ggl-button label="Save" type="primary" (clicked)="handleSaveClick()"></ggl-button>
                    </modal-footer>
            </ggl-modal>
        </div>
        <div class="component-result"> You have clicked <i>{{clickedModalButton}}</i> modal button.</div>
    </div>

    <!-- MUTLISELECT  -->
    <div class="stack-item">
        <div class="component-title">MultiSelect</div>
        <div class="component-description">&lt;ggl-multiselect&gt; is wrapper component and designed for choose single or multiple values.
        </div>
        <div class="component-snippet">
            <code>
                &lt;ggl-multiselect
                [disabled]=&quot;isDisableMultiselect&quot;
                [options]=&quot;multiselectOptions&quot;
                [selectedOptions]=&quot;selectedMultiselectOptions&quot;
                [showIcon]=&quot;showIcon&quot;
                &gt;&lt;/ggl-multiselect&gt;
            </code>
        </div>
        <div class="component oritentation-vertical">
            <ggl-checkbox label="Disabled" (changed)="disableMultiselect($event)"></ggl-checkbox>
            <ggl-multiselect
                [disabled]="isDisableMultiselect"
                [options]="multiselectOptions"
                [selectedOptions]="selectedMultiselectOptions"
                [showIcon]="showIcon"
            ></ggl-multiselect>
            <span class="spacer"></span>
        </div>
        <div class="component-result"> Choosed item <i><span *ngFor="let option of selectedMultiselectOptions">{{option.text}},</span></i>.</div>
    </div>

     <!-- RADIO  -->
     <div class="stack-item">
        <div class="component-title">Radio</div>
        <div class="component-description">&lt;ggl-radio&gt; is wrapper and with additional styling.
        </div>
        <div class="component-snippet">
            <code>
                &lt;ggl-radio label=&quot;Radio Text&quot; [selected]=&quot;isSelected&quot; [disabled]=&quot;isDisabled&quot; (changed)=&quot;handleRadioChange($event)&quot;&gt;&lt;/ggl-radio&gt;
            </code>
        </div>
        <div class="component">
            <ggl-radio label="Unchecked" [showLabel]="showLabel"></ggl-radio>
            <ggl-radio label="Checked" [showLabel]="showLabel" [selected]="isCheckedOption" (changed)="handleRadioChange($event)"></ggl-radio>
            <ggl-radio label="Disabled" [showLabel]="showLabel" [selected]="isChecked" [disabled]="isDisabled"></ggl-radio>
        </div>
    </div>

    <!-- SELECT  -->
    <div class="stack-item">
        <div class="component-title">Select</div>
        <div class="component-description">&lt;ggl-select&gt; is wrapper component and designed for choose single or multiple values.
        </div>
        <div class="component-snippet">
            <code>
                &lt;ggl-select [options]=&quot;options&quot; [(value)]=&quot;selectedValue&quot; (changed)=&quot;handleSelectChange()&quot; [showBlankOption]=&quot;true&quot; [disabled]=&quot;false&quot;&gt;&lt;/ggl-select&gt;
            </code>
        </div>
        <div class="component oritentation-vertical">
            <ggl-select [options]="options" [(value)]="selectedValue" (changed)="handleSelectChange()" [showBlankOption]="showBlankOption"></ggl-select>
            <span class="spacer"></span>
            <ggl-select [options]="options" [showBlankOption]="showBlankOption" [disabled]="isDisabled"></ggl-select>
        </div>
        <div class="component-result"> {{selectedOption}} <i>{{selectedText}}</i>.</div>
    </div>

    <!-- SWITCH  -->
    <div class="stack-item">
        <div class="component-title">Switch</div>
        <div class="component-description">&lt;ggl-switch&gt; is custom component to toggle the value to turn on and off or can be used mark the entity as active/inactive.
        </div>
        <div class="component-snippet">
            <code>
                &lt;ggl-switch [selected]=&quot;true&quot; [disabled]=&quot;false&quot; (toggle)=&quot;handleToggle($event)&quot;&gt;&lt;/ggl-switch&gt;
            </code>
        </div>
        <div class="component oritentation-vertical">
            <ggl-switch></ggl-switch>
            <ggl-switch [selected]="switchSelected" (toggle)="handleSwitchToggle($event)"></ggl-switch>
            <ggl-switch [selected]="isDisabled" [disabled]="isDisabled"></ggl-switch>
        </div>
    </div>

    <!-- TABS  -->
    <div class="stack-item">
        <div class="component-title">Tabs</div>
        <div class="component-description">&lt;ggl-tabs&gt; is custom component to toggle the value to turn on and off or can be used mark the entity as active/inactive.
        </div>
        <div class="component-snippet">
            <code>
                &lt;ggl-tabs (change)=&quot;handleTabChange($event)&quot; [disabled]=&quot;false&quot;&gt;<br/>
                        &lt;ggl-tab title=&quot;Tab 1&quot; [active]=&quot;isTabActive&quot; [disabled]=&quot;false&quot;&gt;<br/>
                            &lt;div&gt;Tab Content 1&lt;/div&gt;<br/>
                        &lt;/ggl-tab&gt; 
                        &lt;ggl-tab title=&quot;Tab 2&quot; [disabled]=&quot;isTabDisabled&quot;&gt;<br/>
                            &lt;div&gt;Tab Content 2&lt;/div&gt;<br/>
                        &lt;/ggl-tab&gt;<br/>
                &lt;/ggl-tabs&gt;
            </code>
        </div>
        <div class="component oritentation-vertical">
            <ggl-checkbox label="Disabled" (changed)="disableTabs($event)"></ggl-checkbox>
            <ggl-tabs (change)="handleTabChange($event)" [disabled]="isTabDisabled">
                <ggl-tab title="Tab 1" [active]="isTabActive" [disabled]="isTabDisabled">
                    <div>Tab Content 1</div>
                </ggl-tab>
                <ggl-tab title="Tab 2" [disabled]="isTabDisabled">
                    <div>Tab Content 2</div>
                </ggl-tab>
                <ggl-tab title="Tab 3" [disabled]="isTabDisabled">
                    <div>Tab Content 3</div>
                </ggl-tab>
            </ggl-tabs>
        </div>
        <div class="component-result"> Selected tab <i>{{selectedTabTitle}}</i>.</div>
    </div>
    
    <!-- TABLE  -->
    <div class="stack-item">
        <div class="component-title">Table</div>
        <div class="component-description"></div>
        <div class="component-snippet">
            <code>
            </code>
        </div>
        <div class="component">
            <ggl-table 
                [showDelete]="showAddNew" 
                [showAddNew]="showAddNew" 
                [rows]="tableRows"
                [selectable]="selectable" 
                [headers]="tableHeaders">
            </ggl-table>
        </div>
    </div>
</div>