@import '../../../assets/css/color.scss';

.ggl-input-field {
    background-color: $color-white;
    min-width: 10rem;
    width: inherit;
    border: solid .1rem $color-lighter-gray;

    input {
        color: $color-gray;
        width: 100%;
        padding: .5rem .2rem .5rem 1rem;
        line-height: 2.5rem;
        border: none;
    }

    &:hover {
        border: solid .1rem $color-gray;
    }
}

.show-icon {
    display: inline-flex;
    margin-top: 0.2rem;
    padding-right: 0.5rem;
    width: 100%;

    input {
        width: 98%;
    }
}

input:focus{
    outline: none;
}

.disabled {
    cursor: not-allowed;
    background-color: $color-white-smoke;

    input {
        cursor: not-allowed;
        background-color: $color-white-smoke;
    }
}