<div *ngIf="isAdminView" class="nav-section" [ngClass]="{'expand': isMenuBarExpanded}">
    <ggl-logo [isAdminView]="true"></ggl-logo>   
    <nav>
         <!-- Dynamic Menu Start-->
        <ggl-nav-item *ngFor="let menu of menuItems" [item]="menu" [isMenuExpanded]="isMenuBarExpanded"></ggl-nav-item>
        <!-- Dynamic Menu End-->
        <ggl-nav-item [item]="expandMenuItem" [isMenuExpanded]="isMenuBarExpanded"></ggl-nav-item>
    </nav>
</div>

<header *ngIf="!isAdminView" id="ggl-header-section" class="sticky-banner">
    <div class="container">
        <div class="nav-header">
            <a href="#" class="js-ggl-nav-toggle ggl-nav-toggle dark">
                <i></i>
            </a>
            <ggl-logo [isAdminView]="false"></ggl-logo>
            <nav id="ggl-menu-wrap" role="navigation">
                <ul class="sf-menu" id="ggl-primary-menu">
                    <li *ngFor="let menu of menuItems" [ngClass]="{'active-menu': menu.active}" >
                        <a [title]="menu.title" [href]="menu.url">{{menu.name}}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>