@import '../../../assets/css/color.scss';

.nav-section {
    width: 7rem;
    padding-top: 1rem;
    background-color: $color-sea-green;
    height: 100vh;

    nav {
        padding-top: 7rem;
    }

    .ggl-logo img {
        width: 4.8rem;
        height: 4.8rem;
    }
}
