@import '../../../assets/css/color.scss';

.nav-section {
    min-width: 7rem;
    padding-top: 1rem;
    background-color: $color-sea-green;
    height: 100vh;

    nav {
        padding-top: 7rem;
    }

    .ggl-logo img {
        width: 4.8rem;
        height: 4.8rem;
    }
}

.expand-view {
    width: 17rem;

    &:hover {
        .sub-menu {
            display: block;
            margin-left: 5.6rem;
        }
    }
}

.collapse-view {
    width: 7rem;
}