<form class="filters">
    <div class="filter-action-button">
        <button mat-raised-button>Clear</button>
        <button class="apply" mat-raised-button color="primary">Apply</button>
    </div>
    <div *ngFor="let filter of filters">
        <mat-form-field *ngIf="filter.controlType === TEXTBOX" class="full-width filter-item">
            <mat-label>{{filter.displayLabel}}</mat-label>
            <input matInput [placeholder]="filter.placeholder">
        </mat-form-field>

        <mat-form-field *ngIf="filter.controlType === SELECT" class="full-width filter-item">
            <mat-label>{{filter.displayLabel}}</mat-label>
            <mat-select name="{{filter.name}}" [ngModel]="filter.ngModel">
                <mat-option *ngFor="let item of filter.options" value="item.value">{{item.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="filter.controlType === MULTISELECT" class="full-width filter-item">
            <mat-label>{{filter.displayLabel}}</mat-label>
            <mat-select name="{{filter.name}}" [ngModel]="filter.ngModel" multiple>
                <mat-option *ngFor="let item of filter.options" value="item.value">{{item.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <div *ngIf="filter.controlType === TOGGLE" class="mat-form-field filter-item">
            <mat-label>{{filter.displayLabel}}</mat-label>
            <mat-slide-toggle class="example-margin toggle {{filter.cssClass}}" [color]="filter.color"
                [checked]="filter.value" [disabled]="filter.enabled">
            </mat-slide-toggle>
        </div>

        <div *ngIf="filter.controlType === RADIO" class="mat-form-field filter-item">
            <label id="example-radio-group-label">{{filter.displayLabel}}</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group radio">
                <mat-radio-button class="example-radio-button" *ngFor="let item of filter.options">{{item.name}}
                </mat-radio-button>
            </mat-radio-group>
        </div>

        <div *ngIf="filter.controlType === SLIDER" class="mat-form-field filter-item">
            <label id="example-radio-group-label">{{filter.displayLabel}}</label>
            <mat-slider class="example-margin slider" vertical="false" [disabled]="!filter.enabled"
                name="{{filter.name}}" [(ngModel)]="filter.ngModel">
            </mat-slider>

            <!-- [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step"
                [thumbLabel]="thumbLabel" [tickInterval]="getSliderTickInterval()" [(ngModel)]="value" -->
        </div>

    </div>
</form>