.icon {
    display: inline-flex;

    span {
        font-family: Arial;
        font-size: 10pt;
        padding: .4rem .3rem 0 .5rem;
        font-weight: 400;
    }
}

.icon-style {
    padding-top: 0.3rem;
    padding-left: .2rem;
}

.icon-16 {
    .mat-icon {
        width: 16px;
        height: 16px;
        font-size: 16px;
    }
}

.icon-18 {
    .mat-icon {
        width: 18px;
        height: 18px;
        font-size: 18px;
    }
}

.icon-24 {
    .mat-icon {
        width: 24px;
        height: 24px;
        font-size: 24px;
    }
}

.icon-30 {
    .mat-icon {
        width: 30px;
        height: 30px;
        font-size: 30px;
    }
}

.icon-36 {
    .mat-icon {
        width: 36px;
        height: 36px;
        font-size: 36px;
    }
}

.icon-48 {
    .mat-icon {
        width: 48px;
        height: 48px;
        font-size: 48px;
    }
}

.icon-60 {
    .mat-icon {
        width: 60px;
        height: 60px;
        font-size: 60px;
    }
}


.icon-72 {
    .mat-icon {
        width: 72px;
        height: 72px;
        font-size: 72px;
    }
}