<div class="ggl-table">
    <div class="table-header-action" *ngIf="showAddNew || showDelete">
        <ggl-button *ngIf="showAddNew && addNewLabel" [showIcon]="showIcon" [icon]="addButtonIcon" [label]="addNewLabel"
            (click)="handleAddClick()">
        </ggl-button>
        <span class="spacer"></span>
        <ggl-button *ngIf="showDelete" [showIcon]="showIcon" [icon]="deleteButtonIcon" [label]="deleteLabel"
            type="danger" (click)="handleDeleteClick()">
        </ggl-button>
    </div>
    <div *ngIf="showHeader && headers && headers.length" class="table-header">
        <div class="selection" *ngIf="selectable">
            <ggl-checkbox (clicked)="handelSelectAll()"></ggl-checkbox>
        </div>
        <div *ngFor="let header of headers" class="table-column" [style.width.%]="averageColumnWidth">
            <div [title]="header.title">{{header.name}}</div>
        </div>
    </div>
    <div class="row-container" [style.height.px]="height">
        <div *ngFor="let row of rows" class="table-row" [ngClass]="{'cursor': selectable}">
            <ggl-table-column *ngIf="selectable" [selected]="rowSelected" [selectable]="selectable">
            </ggl-table-column>
            <ggl-table-column *ngFor="let column of row.columns" [width]="averageColumnWidth" [column]="column">
            </ggl-table-column>
        </div>
    </div>
</div>