@import '../../../assets/css/color.scss';

.ggl-table {
    width: 100%;

    .table-header-action {
        background-color: $color-white-smoke;
        padding: 0.2rem;
        margin-bottom: .2rem;
    }

    .table-header {
        display: inline-flex;
        background-color: $color-gray;
        color: $color-white;
        width: 100%;
        font-weight: 600;       
        text-align: center;

        div {
            padding: .5rem;
        }
    }

    .row-container {
        width: inherit;
        min-height: 20rem;
        overflow: auto;
        border: solid 0.1rem $color-white-smoke;
    }

    .table-row {
        background-color: $color-white;
        color: $color-gray;
        width: 100%;
        padding: 1rem;
    
        &:hover {
            background-color: $color-white-smoke;
        }
        
        div {
            padding: .5rem;
        }
    }
    
    .selection {
        cursor: pointer;
        width: 5%;
    }
}