
.ggl-logo {
    position: relative;
    z-index: 2;
    float: left;
}

    .ggl-logo span.brand {
        font-size: 18px;
    }

    .ggl-logo span.slogan {
        font-size: 12px;
    }

    .ggl-logo span.vertical {
        font-size: 12px;
        text-orientation: upright;
        writing-mode: vertical-lr;
    }

    .ggl-logo img {
        width: 64px;
    }

@media screen and (max-width:768px) {
    .nav-header {
        width: 90%;
    }

    .ggl-logo {
        width: 15%;
        float: none;
        text-align: center
    }
}

.ggl-logo a {
    color: #4bd444;
}

    .ggl-logo a:hover, .ggl-logo a:focus {
        color: #35b317 !important
    }
