$color-red: #FF0000;
$color-light-red: #b73232;
$color-maroon-red: #C72A2A;
$color-green: #00FF00;
$color-dark-green: #006400;
$color-blue: #0000FF;
$color-black: #000000;
$color-skyblue: #87CEEB;
$color-menu-black: #212121;
$color-menu-active: #81d8d0;
$color-white: #FFFFFF;
$color-white-smoke: #F5F5F5;
$color-light-green: #4bd444;
$color-gray: #808080;
$color-light-gray: #d8cbcb;
$color-yellow: #FFFF00;
$color-orange: #ffa500;
$color-black: #000000;
$color-lighter-gray: #f3ebeb;
$color-sea-green: #2E8B57;
$color-light-sea-green: #20B2AA;
$color-sea-green-medium: #3CB371;
$color-dark-olivegreen: #556B2F;
