<div class="top-section">
    <div class="logo">
        <img src="../../../assets/graphics/images/logo-64.png" />
    </div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <button gglClickOutside (afterClosed)="hideMenu()" class="navbar-toggler" (click)="toggleMenu()" type="button"
            data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <mat-icon class="md-30 white nav-icon">dehaze</mat-icon>
        </button>
        <div class="collapse navbar-collapse {{cssClass}}" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Facilities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item social-media">
                    <ul class="icons">
                        <li class="follow-us">Follow us:</li>
                        <li><a target="_blank" href="https://twitter.com/greengarden2716">
                                <mat-icon svgIcon="twitter"></mat-icon>
                            </a></li>
                        <li><a target="_blank" href="https://www.facebook.com/greengardenlawn2716">
                                <mat-icon svgIcon="facebook"></mat-icon>
                            </a>
                        </li>
                        <li><a href="#">
                                <mat-icon svgIcon="google-plus">
                                </mat-icon>
                            </a></li>
                        <li><a href="#">
                                <mat-icon svgIcon="whatsapp"></mat-icon>
                            </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="banner">
    <ggl-carousal [images]="carousalItems"></ggl-carousal>
    <div class="find-booking">
        <div class="occassion">
            <div class="dropdown" [matMenuTriggerFor]="menu">
                <span> {{!event ? 'Events' : event.name}}</span>
                <mat-icon class="dropdown">keyboard_arrow_down</mat-icon>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="selectedMenu(event)"
                        *ngFor="let event of eventItems">{{ event.name }}</button>
                </mat-menu>
            </div>
        </div>
        <div class="date"> <input matInput readonly placeholder="{{ today | date: 'EEEE,dd MMM yyyy'}}" />
        </div>
        <div class="calender">
            <mat-icon class="md-30 light-gray">calendar_today</mat-icon>
        </div>
    </div>
    <ggl-client-footer></ggl-client-footer>
</div>