@import '../../../assets/css/color.scss';

.ggl-switch {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2rem;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $color-light-gray;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 1.4rem;
        width: 1.4rem;
        left: 0.3rem;
        top: 0.3rem;
        background-color: $color-white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .selected:before {
        right: 0.2rem;
        left: 0;
    }

    .selected+.slider {
        background-color: $color-green;
    }

    .selected:focus+.slider {
        box-shadow: 0 0 .1rem $color-green;
    }

    .selected+.slider:before {
        -webkit-transform: translateX(2.2rem);
        -ms-transform: translateX(2.2rem);
        transform: translateX(2.2rem);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 3.4rem;
    }

    .slider.round:before {
        border-radius: 50%;
    }
}


.disabled {
    .selected+.slider {
        cursor: not-allowed;  
        background-color: $color-gray;
    }
}