<div *ngFor="let booking of bookings" class="notification">
    <div class="title">{{booking.title}}
        <div *ngIf="booking.contact" class="contact">{{booking.contact}}</div>
    </div>
    <div class="summary">
        <div class="status {{booking.status | lowercase}}">
            <mat-icon class="{{booking.status | lowercase}} md-16">check_circle</mat-icon>{{booking.status | uppercase}}
        </div>
        <div class="timestamp">{{booking.status | date: 'dd-MMM-yyyy HH:mm tt'}}</div>
    </div>
</div>