<header id="ggl-header-section" class="sticky-banner">
    <div class="container">
        <div class="nav-header">
            <a href="#" class="js-ggl-nav-toggle ggl-nav-toggle dark">
                <i></i>
            </a>
            <ggl-logo></ggl-logo>
            <!-- START #ggl-menu-wrap -->
            <nav id="ggl-menu-wrap" role="navigation">
                <ul class="sf-menu" id="ggl-primary-menu">
                    <li class="active-menu">
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="gallery">Gallery</a>
                    </li>
                    <li>
                        <a href="services" class="ggl-sub-ddown">Services</a>
                        <!-- <ul class="ggl-sub-menu">
                            <li>
                                <a href="#">Lighting</a>
                            </li>
                            <li>
                                <a href="#">Catering</a>
                            </li>
                            <li>
                                <a href="#">Decoration</a>
                            </li>
                        </ul> -->
                    </li>
                    <li>
                        <a href="booking">Book Now</a>
                        <!-- <ul class="ggl-sub-menu">
                            <li>
                                <a href="booking.html#calender">Booking Calender</a>
                            </li>
                            <li>
                                <a href="booking.html#findbooking">Find Booking Date</a>
                            </li>
                        </ul> -->
                    </li>
                    <li>
                        <a href="about">About Us</a>
                    </li>
                    <li>
                        <a href="contact">Contact Us</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>