@import '../nav-menu.component.scss';

.menu {
    min-width: 7rem;
    height: 6rem;
    cursor: pointer;
    background-color: transparent;
    color: $color-white;
    border: none;
    text-align: left;
    padding-left: 2.5rem;
    padding-top: 2rem;
    display: inline-flex;

    &:hover {
        background-color: $color-light-sea-green;
        color: $color-black;
    }
}

.expand-view {
    .menu {
        width: 17rem;
    }

    .special-menu {
        width: 17rem;
    }

    &:hover {
        .sub-menu {
            margin-left: 5.5rem;
            display: block;
        }
    }
}

.special-menu {
    color: $color-white;
    cursor: pointer;
    position: fixed;
    left: 0;

    :hover {
        background-color: $color-light-sea-green;
        color: $color-black;
    }
}

.log-out-nav {
    bottom: 6rem;
    background-color: $color-light-red;

}

.expand-nav {
    background-color: $color-black;
    bottom: 0;
}

.icon-arrow {
    right: -5rem;
    position: relative;
}