<button *ngIf="menuItem" class="menu {{menuItem.cssStyle!}}"
    [ngClass]="{ 'active': menuItem.active === true, 'expand-view': isMenuExpanded}" 
    [matTooltip]="menuItem.title"
    matTooltipPosition="after" 
    (click)="handleClick()">
        <ggl-icon 
            [title]="menuItem.title" 
            [icon]="menuItem.icon?.name!" 
            [size]="menuItem.icon?.size"
            [label]="menuItem.name"
            [showLabel]="isMenuExpanded">
        </ggl-icon>

        <ggl-icon *ngIf="menuItem.childrens && menuItem.childrens.length && isMenuExpanded" 
            [icon]="rightIcon" cssStyle="sub-menuItem-arrow">
        </ggl-icon>
        
        <ggl-nav-sub-menu *ngFor="let subMenu of menuItem.childrens" 
            [item]="subMenu" 
            [expanded]="isMenuExpanded">
        </ggl-nav-sub-menu>
</button>