<div class="ggl-banner">
    <!-- check the Comments for more info -->
    <!-- <div class="back-row-toggle splat-toggle">
        <div class="rain front-row"></div>
        <div class="rain back-row"></div>
    </div> -->
    <div class="ggl-overlay"></div>
    <div class="ggl-cover text-center" style="background-image: url(../../../assets/images/cover_bg_1.jpg);">
        <div class="center-logo">
            <img src="../../../assets/images/svg/logo.svg" [title]="title" />
        </div>
        <div class="display-t">
            <div class="display-tc">
                <div class="container">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="animate-box">
                            <h3 class="ggl-upcoming-event">Upcoming Event</h3>
                            <h4 class="ggl-event-quotes">{{quotes}}</h4>
                            <p *ngIf="event?.date">
                                <span>{{event?.date | date: 'dd-MMM-yyyy'}}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>